doctype html
html
  head
    title Яндекс.Дом
    link(rel='stylesheet', href='main.css')
    meta(name='viewport' content='width=device-width, initial-scale-1.0')
  body
    .header 
      img(src='main-logo.svg' style='margin-right: 52px;')
      a.active(href='#') Сводка
      a(href='#') Устройства
      a(href='#') Сценарии
      img(src='icon-list.svg' class='icon-list')
    .menu
      a.active(href='#') Сводка
      a(href='#') Устройства
      a(href='#') Сценарии
    .body-scroller 
      .container
        .info 
          .info-header Главное
          .info-content 
            .info-content-state
              .h Привет, Геннадий! <br>
              |Двери и окна закрыты, сигналиция включена.<br>
              .temp
                .temp-header Дома
                .temp-value +23
              .temp 
                .temp-header За окном
                .temp-value
                  span(style = 'margin-right:5px')|+19
                  img(src='cloud-drizzle.svg')
            .info-content-scenarios
              img.arrow-double(src='arrow-double.svg')
              .hide-scrollbar
                -var infos = [{icon: 'icon-temperature.svg', action: 'Philips Cooler', time: 'Начинать охлаждать в 16:30' }, {icon: 'icon-sun.svg', action: 'Xiaomi Yeelight LED Smart Bulb', time: 'Включится в 17:00' }, {icon: 'icon-temperature.svg', action: 'Philips Cooler', time: 'Начинать охлаждать в 16:30' }];
                each info in infos
                  .plate 
                    img(src=info.icon)
                    div
                      .plate-action #{info.action}
                      .plate-time #{info.time}
        .scenario 
          .scenario-header 
              |Избранные сценарии
              .arrows
                img(src='arrow-left.svg' style='margin-right: 20px; opacity: 0.3')
                img(src='arrow-left.svg' style='transform: rotate(180deg); opacity: 0.3')
          .scenario-content 
            .book
              -var infos = [{icon: 'icon-sun-2.svg', action: 'Выключить весь свет в доме и во дворе', time: ''}, {icon: 'icon-sheduled.svg', action: 'Я ухожу'}, {icon:'icon-sun-2.svg', action: 'Включите свет в коридоре'}, {icon: 'icon-temperature-2.svg', action: 'Набрать горячую ванну', time: 'Начнётся в 18:00'}, {icon: 'icon-temperature-2.svg', action: 'Сделать пол теплым во всей квартире'}];
              each info in infos
                .plate
                  img(src=info.icon)
                  div 
                    .plate-action #{info.action}
                    if info.time
                      .plate-time #{info.time} 
      .devices 
        .devices-header 
          div(style='display:flex;')
            div(style='margin-right: 15px') Избраныне сценарии
            .filters
              img.arrow-devices(src='arrow-devices.svg')
              .filter.active(filter='all') Все 
              .filter(filter='kitchen') Кухня 
              .filter(filter='hall') Зал
              .filter(filter='bulb') Лампочки
              .filter(filter='cam') Камеры
          .arrows
            img(src='arrow-left.svg' style='margin-right: 20px; opacity: 0.3')
            img(src='arrow-left.svg' style='transform: rotate(180deg); opacity: 0.3')
        .devices-content 
          var 
          .book
            -
              var infos = [
                {icon:'icon-sun-2.svg', action: 'Xiaomi Yeelight LED Smart Bulb', time: 'Включено', filter: 'bulb'},
                {icon:'icon-sun.svg', action: 'D-Link Omna 180 Cam', time: 'Включиться в 17:00', filter: 'cam'},
                {icon:'icon-temperature-2.svg', action: 'Elgato Eve Degree Connected', time: 'Выключено до 17:00', filter: 'hall'},
                {icon:'icon-sun.svg', action: 'LIFX Mini Day & Dusk A60 E27', time: 'Включится в 17:00', filter: 'bulb'},
                {icon:'icon-sun-2.svg', action: 'Xiaomi Mi Air Purifier 2S', time: 'Включено', filter: 'kitchen'},
                {icon:'icon-sun.svg', action: 'Philips Zhirui', time: 'Выключено', filter: 'bulb'},
                {icon:'icon-sun-2.svg', action: 'Xiaomi Yeelight LED Smart Bulb', time: 'Включено', filter: 'bulb'}
              ]
            each info in infos
              .plate(filter=info.filter) 
                img(src=info.icon)
                div
                  .plate-action #{info.action}
                  .plate-time #{info.time}
                
      .footer
    .paranja
      .popup
    script(src='./scripts/pagination.js')
    script(src='./scripts/main.js')
    
    

    
